@font-face {
  font-family: "iconfont"; /* Project id 3604393 */
  src: url('~@/fonts/iconfont.woff2?t=1661171098125') format('woff2'),
       url('~@/fonts/iconfont.woff?t=1661171098125') format('woff'),
       url('~@/fonts/iconfont.ttf?t=1661171098125') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-search:before {
  content: "\e623";
}

.icon-xiajiantou:before {
  content: "\e611";
}

.icon-shangjiantou:before {
  content: "\e612";
}

.icon-lajitong:before {
  content: "\e66b";
}

.icon-xiaoxi:before {
  content: "\e603";
}

